---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Chat with Doctor",
    description:
      "Connect with medical professionals online for real-time consultations and advice.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Healthcare Dashboard",
    description:
      "Monitor your health stats and access your medical history all in one place.",
    icon: "bx:bxs-dashboard",
  },
  {
    title: "Healthcare Blogs",
    description:
      "Read the latest articles and updates on health and wellness from trusted sources.",
    icon: "bx:bxs-book-content",
  },
  {
    title: "City Based Needs",
    description:
      "Find healthcare facilities, pharmacies, and other medical services in your city.",
    icon: "bx:bxs-map",
  },
  {
    title: "Medibase",
    description:
      "Get all the details of what you need to know about your medicines and supplements.",
    icon: "bx:bxs-injection",
  },
  {
    title: "Emergency Services Directory",
    description:
      "Find the nearest hospitals, clinics, and emergency services in your area.",
    icon: "bx:bxs-phone-call",
  },
  {
    title: "Appointment Booking",
    description:
      "Book appointments with doctors, clinics, and hospitals with just a few clicks.",
    icon: "bx:bxs-calendar-event",
  },
  

];

---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    "Connect, Explore, Engage, and Empower with Chat, Dashboard, Blogs, and Local Needs."
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
